# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ to know which are popular languages in Data Science
+ to know which are some common libraries used in Data Science
+ to know which are some IDE for Data Science
+ To show some arithmetic examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. MatLab
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Seaborn
3. TensorFlow
4. PyTorch
5. Pandas

Data Science Tools | 
---
RStudio |
Anaconda |
Jupyter notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## **Author**
Winston Alejandro Sebastian Núñez Brítez